.jumbotron {
    height: 200%;
}

.nav1 {
    width: 100%;
    padding-right: 35px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    height: 100%;
}

.icon {
    text-align: center;
    padding-top: 50px;
}

.nav1right {
    padding-right: 10px;
    font-size: 30px;
}

.nav1left {
    text-align: right;
}

.container-fluid {
    width: 70%;
    height: 100%;
    margin-top: 20px;
}

.nav2 {
    padding-left: 3px;
    font-size: 10px;
}

.butn {
    margin-bottom: 50px;
}
